* {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

:root {
  --grid-size: 20px;
}

body {
  background: #fefefa;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid rgba(128, 0, 128, 0.2);
  transition: background 0.5s;
}

p {
  margin-top: 0;
}

a:hover {
  background: rgba(128, 0, 128, 0.2);
}

h1 {
  font-size: 50px;
}

h1,
h2,
.address {
  text-align: center;
}

h2,
.address {
  margin: 0;
}

h3 {
  font-size: 14px;
  font-weight: normal;
}

table {
  text-align: left;
  margin-bottom: 50px;
}

td {
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 10px;
  text-align: end;
  vertical-align: top;
}

.intro {
  font-size: 20px;
}

.innerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px 30px;
  justify-items: center;
  margin: 120px 60px 0px 60px;
  min-height: calc(100vh - 260px);
}

.noLocationSelected {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px 30px;
  justify-items: center;
  margin: 120px 60px 0px 60px;
  min-height: calc(100vh - 260px);
}

.container {
  display: grid;
  grid-template-columns: repeat(25, var(--grid-size));
  text-align: center;
  font-size: 10px;
}

.hourVal {
  border: 0.5px solid whitesmoke;
  border-radius: 10%;
  width: var(--grid-size);
  height: var(--grid-size);
}

.weekday {
  vertical-align: middle;
  align-self: center;
}

.hour {
  margin: 5px 0;
}

.hoursContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.showMore {
  display: flex;
  flex-direction: column;
}

.showHide {
  margin: 20px auto;
  background: none;
  border: none;
  display: block;
  cursor: pointer;
  transition: border 0.5s;
  border: 2px solid transparent;
  outline: rgba(128, 0, 128, 0.2);
  font-size: 14px;
}

.showHide:hover {
  border: 2px solid rgba(128, 0, 128, 0.2);
}

.showHide:focus {
  border: 2px solid rgba(128, 0, 128, 0.4);
}

.quietest {
  border-bottom: 2px solid rgba(128, 0, 128, 0.1);
}

.busiest {
  border-bottom: 2px solid rgba(128, 0, 128, 1);
}

footer {
  text-align: center;
}

.shopCard {
  width: min-content;
}

@media (max-width: 1070px) {
  .innerContainer {
    grid-template-columns: 1fr;
    margin: 0 50px;
    min-height: calc(100vh - 260px);
  }

  .shopCard {
    display: flex;
    flex-direction: column;
  }

  .container,
  .showMore {
    align-self: center;
  }

  .intro {
    margin-bottom: 40px;
  }

  .selectContainer {
    margin-bottom: 40px;
  }
}

@media (max-width: 500px) {
  :root {
    --grid-size: 15px;
  }
}

@media (max-width: 420px) {
  h1 {
    font-size: 45px;
    margin: 20px 20px;
    word-spacing: 3px;
  }

  .noLocationSelected {
    margin-top: 0;
  }

  .innerContainer,
  .noLocationSelected {
    margin: 0 20px;
  }

  :root {
    --grid-size: 13px;
  }

  .hour:nth-child(odd) {
    opacity: 0;
  }
}

@media (max-width: 320px) {
  :root {
    --grid-size: 11.5px;
  }

  .weekday {
    font-size: 8px;
  }

  td {
    font-size: 14px;
  }
}
