h1,
h2,
.address {
  text-align: center;
}

h2,
.address {
  margin: 0;
}

h3 {
  font-size: 14px;
  font-weight: normal;
}

.innerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  justify-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(25, 18px);
  text-align: center;
  font-size: 10px;
}

.hourVal {
  border: 0.5px solid whitesmoke;
  border-radius: 10%;
  width: 18px;
  height: 18px;
}

.weekday {
  vertical-align: middle;
  align-self: center;
}

.hour {
  margin: 5px 0;
}
