* {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

:root {
  --grid-size: 20px;
  --legend-offset: 60px;
}

body {
  background: #fefefa;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid rgba(128, 0, 128, 0.2);
  transition: background 0.5s;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

nav a {
  font-weight: bold;
  border-bottom: none;
}

nav a:hover {
  background: none;
}

li {
  list-style: none;
}

p {
  margin-top: 0;
}

a:hover {
  background: rgba(128, 0, 128, 0.2);
}

h1 {
  font-size: 50px;
  margin: 0;
  text-shadow: 1px 3px 2px #d3d3d3;
}

h1,
h2,
.address {
  text-align: center;
}

h2,
.address {
  margin: 0;
}

h3 {
  font-size: 14px;
  font-weight: normal;
}

table {
  text-align: left;
  margin-bottom: 50px;
}

td {
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 10px;
  text-align: end;
  vertical-align: top;
}

.intro {
  font-size: 20px;
  margin: 70px 0;
}

.pageContainer {
  margin: 10px 50px 0px 50px;
}

.innerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px 30px;
  justify-items: center;
  min-height: calc(100vh - 260px);
}

.about {
  min-height: calc(100vh - 160px);
  font-size: 20px;
}

.legendContainer {
  margin: 30px 0;
  width: 100%;
  max-width: 500px;
}

.legend {
  background: linear-gradient(
    90deg,
    rgba(128, 0, 128, 0) 0%,
    rgba(128, 0, 128, 1) 100%
  );
  height: 20px;
  border: 1px solid grey;
  margin: 0 var(--legend-offset);
}

.left {
  text-align: left;
  margin-top: 10px;
}

.legend:after {
  content: "|";
  font-size: 10px;
  font-weight: bold;
  top: 10px;
  position: relative;
  left: -2px;
  color: grey;
}

.right {
  text-align: right;
  margin-top: 10px;
}

.right:after {
  content: "|";
  font-size: 10px;
  font-weight: bold;
  top: -16px;
  position: relative;
  right: calc(var(--legend-offset) - 1px);
  color: grey;
}

.legendLabel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 12px;
}

.selectContainer {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
}

select {
  font-size: 16px;
  margin-left: 3px;
  margin-top: 10px;
  margin-bottom: 5px;
}

label {
  font-weight: 800;
}

.container {
  display: grid;
  grid-template-columns: repeat(25, var(--grid-size));
  text-align: center;
  font-size: 10px;
}

.hourVal {
  border: 0.5px solid whitesmoke;
  border-radius: 10%;
  width: var(--grid-size);
  height: var(--grid-size);
}

.weekday {
  vertical-align: middle;
  align-self: center;
}

.hour {
  margin: 5px 0;
}

.hoursContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.showMore {
  display: flex;
  flex-direction: column;
}

.showHide {
  margin: 20px auto;
  background: none;
  border: none;
  display: block;
  cursor: pointer;
  transition: border 0.5s;
  border: 2px solid transparent;
  outline: rgba(128, 0, 128, 0.2);
  font-size: 14px;
}

.showHide:hover {
  border: 2px solid rgba(128, 0, 128, 0.2);
}

.showHide:focus {
  border: 2px solid rgba(128, 0, 128, 0.4);
}

.quietest {
  border-bottom: 2px solid rgba(128, 0, 128, 0.1);
}

.busiest {
  border-bottom: 2px solid rgba(128, 0, 128, 1);
}

footer {
  text-align: center;
  margin: 20px 0;
}

.shopCard {
  width: min-content;
}

@media (max-width: 1070px) {
  .legendContainer,
  .selectContainer {
    justify-self: center;
    margin: 0;
  }
  .innerContainer {
    grid-template-columns: 1fr;
    min-height: calc(100vh - 260px);
  }

  .shopCard {
    display: flex;
    flex-direction: column;
  }

  .container,
  .showMore {
    align-self: center;
  }

  .intro {
    margin-bottom: 40px;
  }

  .selectContainer {
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .innerContainer {
    grid-gap: 20px;
  }

  .legendContainer,
  .selectContainer {
    justify-self: start;
  }

  .pageContainer {
    margin: 10px 20px 0px 20px;
  }

  :root {
    --grid-size: 15px;
  }

  h1 {
    font-size: 30px;
  }
}

@media (max-width: 420px) {
  .pageContainer {
    margin: 0 20px;
  }

  :root {
    --grid-size: 13px;
  }

  .hour:nth-child(odd) {
    opacity: 0;
  }
}

@media (max-width: 380px) {
  :root {
    --grid-size: 11.5px;
    --legend-offset: 10px;
  }

  .pageContainer {
    margin: 0 10px;
  }

  h1 {
    font-size: 26px;
  }

  .weekday {
    font-size: 8px;
  }

  select {
    margin-top: 0;
    margin-left: 0;
  }

  td {
    font-size: 14px;
  }
}
